In [10]:
import pandas as pd
import os

In [16]:
import pandas as pd
import os
df_list = []
dirname = './data'
for dirname, _, filenames in os.walk(dirname):
    for filename in filenames:
        if not (filename.startswith("unclean") or filename==".DS_Store"):
            print(f"Processing: {filename}")
            df_tmp = pd.read_csv(os.path.join(dirname, filename)).drop_duplicates()
            df_tmp['car_model'] = filename.split(".")[0]
            df_list.append(df_tmp)
car_data = pd.concat(df_list, axis=0)
print(car_data.shape)
car_data.sample(15).T

car_data.head()

Processing: vauxhall.csv
Processing: bmw.csv
Processing: vw.csv
Processing: hyundi.csv
Processing: audi.csv
Processing: toyota.csv
Processing: ford.csv
Processing: focus.csv
Processing: skoda.csv
Processing: cclass.csv
Processing: merc.csv
(106267, 11)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,car_model,tax(£)
0,Corsa,2018,7885,Manual,9876,Petrol,145.0,55.4,1.4,vauxhall,NaN
1,Corsa,2019,11995,Manual,2500,Petrol,145.0,54.3,1.4,vauxhall,NaN
2,Corsa,2017,9777,Automatic,9625,Petrol,145.0,47.9,1.4,vauxhall,NaN
3,Corsa,2016,8500,Manual,25796,Petrol,30.0,55.4,1.4,vauxhall,NaN
4,Corsa,2019,10000,Manual,3887,Petrol,145.0,43.5,1.4,vauxhall,NaN