In [2]:
import pandas as pd
import os

In [11]:
import pandas as pd
import os
df_list = []
dirname = './data_100k_cars'
for dirname, _, filenames in os.walk(dirname):
    for filename in filenames:
        if not (filename.startswith("unclean") or filename==".DS_Store"):
            print(f"Processing: {filename}")
            df_tmp = pd.read_csv(os.path.join(dirname, filename)).drop_duplicates()
            df_tmp['manufacturer'] = filename.split(".")[0]
            df_list.append(df_tmp)
car_data = pd.concat(df_list, axis=0)
print(car_data.shape)
car_data.sample(15).T


car_data.head()

Processing: toyota.xls
Processing: skoda.xls
Processing: merc.xls
Processing: ford.xls
Processing: Toyota_vehicle_list.csv
Processing: vw.xls
Processing: Audi_vehicle_list.csv
Processing: bmw.xls
Processing: vauxhall.xls
Processing: hyundi.xls
Processing: list_of_models.csv
Processing: audi.xls
(98005, 23)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,car_model,...,Model.1,Model.2,Current generation,Current generation.1,Current generation.2,Vehicle description,Calendar year introduced,Current model,Current model.1,tax(£)
0,GT86,2016.0,16000.0,Manual,24089.0,Petrol,265.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GT86,2017.0,15995.0,Manual,18615.0,Petrol,145.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GT86,2015.0,13998.0,Manual,27469.0,Petrol,265.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GT86,2017.0,18998.0,Manual,14736.0,Petrol,150.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GT86,2017.0,17498.0,Manual,36284.0,Petrol,145.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import sqlite3
conn = sqlite3.connect("car_data.db")

cur = conn.cursor()


car_data.to_sql("car_data_tbl", conn, if_exists="replace")

pd.read_sql_query("select * from car_data_tbl;", conn)

cur.close()
conn.close()

In [ ]:
import sqlite3
conn = sqlite3.connect("car_data.db")

list_of_models = pd.read_sql_query('Select Distinct model from car_data_tbl', conn)
list_of_models

list_of_models.to_csv('./data_100k_cars/list_of_models.csv')

## Toyota Vehicle List (wikipedia)

In [1]:
## Import and Parse the Tables from Wikipedia with the Toyota information. 

import pandas as pd
import wikipedia 

# wikipedia.search("ford")

url = 'https://en.wikipedia.org/wiki/List_of_Toyota_vehicles'
Toyota_tables = pd.read_html(url)

# To access the first table:
Toyota_vehicles = Toyota_tables[0]
Toyota_vehicles.to_csv('./data_100k_cars/Toyota_vehicle_list.csv')
Toyota_vehicles.head()
# If you want to access another table, just index into the tables list:
second_table = tables[1]

['Ford Motor Company',
 'Ford',
 'Gerald Ford',
 'Harrison Ford',
 'Henry Ford',
 'Ford F-Series',
 'Ford Madox Ford',
 'Ford Mustang',
 'Francis Ford Coppola',
 'Ford v Ferrari']

## Audi Vehicle List

In [29]:
import pandas as pd

manufacturer = 'Ford'

url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
vehicle_table = pd.read_html(url)

# To access the first table:
vehicles = vehicle_table[0]
vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
vehicles.head()

            Model                 Calendar year introduced   Current model  \
            Model         Model.1 Calendar year introduced    Introduction
0       Hatchback       Hatchback                Hatchback       Hatchback
1             NaN           Focus                     1998            2018
2  Sedan/liftback  Sedan/liftback           Sedan/liftback  Sedan/liftback
3             NaN          Escort                     1968            2015
4             NaN           Focus                     1998            2018

                                   \
  Update/facelift    Main markets
0       Hatchback       Hatchback
1            2021          Europe
2  Sedan/liftback  Sedan/liftback
3            2021           China
4            2021           China

                                 Vehicle description Unnamed: 7_level_0
                                 Vehicle description Unnamed: 7_level_1
0                                          Hatchback                NaN
1  C-segment / small family compact hatchback pre...                NaN
2                                     Sedan/liftback                NaN
3  C-segment/Compact sedan currently marketed in ...                NaN
4  C-segment/Compact sedan currently marketed in ...                NaN

In [36]:
import pandas as pd

manufacturer = 'Volkswagen'

url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
vehicle_table = pd.read_html(url)

# To access the first table:
vehicles = vehicle_table[0]
vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
vehicles.head()

       Model                        Calendar year introduced Current model  \
       Model    Model.1     Model.2 Calendar year introduced  Introduction
0  Hatchback  Hatchback   Hatchback                Hatchback     Hatchback
1        NaN        NaN        Golf                     1974          2019
2        NaN        NaN        ID.3                     2019          2019
3        NaN        NaN        Polo                     1975          2017
4        NaN        NaN  Polo Track                     2023          2023

                                      Main markets  \
  Update (facelift)                   Main markets
0         Hatchback                      Hatchback
1                 —                         Global
2              2023               Europe and China
3              2021  Global (except North America)
4                 —                  Latin-America

                                 Vehicle description
                                 Vehicle description
0                                          Hatchback
1  C-segment hatchback. Traditionally the best-se...
2  Battery electric C-segment hatchback. The firs...
3  B-segment hatchback or supermini. Global produ...
4  B-segment hatchback. Based on Volkswagen Polo,...

## Loop the rest of these Vehicles
* Below works, except that need Proper case in Sqlite. 
* Doing regular, manual repetition of task as will be faster in this scenario

In [8]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("car_data.db")
list_of_manufacturer = pd.read_sql_query('Select Distinct car_model from car_data_tbl', conn)
list_of_manufacturer


for _, row in list_of_manufacturer.iterrows():
    manufacturer = row['car_model'].capitalize()
    url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
    
    try:
        vehicle_table = pd.read_html(url)
        # print(url)
        # To access the first table:
        vehicles = vehicle_table[0]
        vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
        
        # Confirmation message:
        print(f"Data for {manufacturer} successfully saved!")
        print(vehicles.head())  # This will print the top rows of the DataFrame

    except Exception as e:
        print(f"Error fetching or saving data for {manufacturer}. Error: {e}")

Data for Toyota successfully saved!
  Body style Model                                   Current generation  \
  Body style Image  Name(s) Introduction (cal. year)         Model code
0      Sedan   NaN   Avalon                     1994               XX50
1      Sedan   NaN    Belta         2005 (nameplate)                NaN
2      Sedan   NaN      bZ3                     2022                NaN
3      Sedan   NaN    Camry                     1982               XV70
4      Sedan   NaN  Century                     1967                G60

                                                   \
  Introduction (cal. year)           Main markets
0                     2018                  China
1                     2021                 Africa
2                     2022                  China
3                     2017  Global (except Japan)
4                     2018                  Japan

                                 Vehicle description
                                 Vehicle description
0  Full-size sedan mainly produced and marketed i...
1  Subcompact sedan (B-segment), rebadged Suzuki ...
2  Battery electric compact sedan jointly develop...
3  Mid-size sedan (D-segment) marketed globally. ...
4  Traditional luxury flagship sedan, mainly mark...
Data for Skoda successfully saved!
    0                                                  1
0 NaN  This article needs additional citations for ve...
Error fetching or saving data for Merc. Error: HTTP Error 404: Not Found
Data for Ford successfully saved!
            Model                 Calendar year introduced   Current model  \
            Model         Model.1 Calendar year introduced    Introduction
0       Hatchback       Hatchback                Hatchback       Hatchback
1             NaN           Focus                     1998            2018
2  Sedan/liftback  Sedan/liftback           Sedan/liftback  Sedan/liftback
3             NaN          Escort                     1968            2015
4             NaN           Focus                     1998            2018

                                   \
  Update/facelift    Main markets
0       Hatchback       Hatchback
1            2021          Europe
2  Sedan/liftback  Sedan/liftback
3            2021           China
4            2021           China

                                 Vehicle description Unnamed: 7_level_0
                                 Vehicle description Unnamed: 7_level_1
0                                          Hatchback                NaN
1  C-segment / small family compact hatchback pre...                NaN
2                                     Sedan/liftback                NaN
3  C-segment/Compact sedan currently marketed in ...                NaN
4  C-segment/Compact sedan currently marketed in ...                NaN
Error fetching or saving data for Vw. Error: HTTP Error 404: Not Found
Error fetching or saving data for Bmw. Error: HTTP Error 404: Not Found
Error fetching or saving data for Vauxhall. Error: Missing optional dependency 'html5lib'.  Use pip or conda to install html5lib.
Error fetching or saving data for Hyundi. Error: HTTP Error 404: Not Found
Data for Audi successfully saved!
  Model         Calendar year introduced Current model                  \
  Model Model.1 Calendar year introduced  Introduction Update/facelift
0  Cars    Cars                     Cars          Cars            Cars
1    A1      A1                     2010          2018               –
2    A3      A3                     1996          2020               –
3    A4      A4                     1994          2016            2020
4    A5      A5                     2007          2016            2019

                                Vehicle description
                                Vehicle description
0                                              Cars
1         B-segment/subcompact/supermini hatchback.
2         Subcompact executive hatchback and sedan.
3        Compact executive sedan and station wagon.
4  Compact executive coupe, cabriolet and liftback.

In [2]:
import sqlite3
import pandas as pd

toyotas = pd.read_csv('./data_100k_cars/Toyota_vehicle_list.csv')
toyotas

conn = sqlite3.connect("car_data.db")

toyotas.to_sql('toyotas', conn, if_exists="replace")

70

In [3]:
audi_df = pd.read_csv('data/modified/audi_modified.csv') 
print(audi_df.info())
audi_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       10668 non-null  object
 1   brand         10668 non-null  object
 2   model         10668 non-null  object
 3   year          10668 non-null  int64
 4   price         10668 non-null  int64
 5   transmission  10668 non-null  object
 6   mileage       10668 non-null  int64
 7   fuelType      10668 non-null  object
 8   tax           10668 non-null  int64
 9   mpg           10668 non-null  float64
 10  engineSize    10668 non-null  float64
dtypes: float64(2), int64(4), object(5)
memory usage: 916.9+ KB
None

,country,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Germany,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Germany,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Germany,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Germany,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Germany,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0

In [8]:
audi_df_dummies= pd.get_dummies(audi_df['transmission'])
audi_df_dummies.info()

audi_df_dummies= pd.concat([audi_df, audi_df_dummies], axis=1)
audi_df_dummies

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Automatic  10668 non-null  bool
 1   Manual     10668 non-null  bool
 2   Semi-Auto  10668 non-null  bool
dtypes: bool(3)
memory usage: 31.4 KB

,country,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,Automatic,Manual,Semi-Auto
0,Germany,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4,False,True,False
1,Germany,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0,True,False,False
2,Germany,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4,False,True,False
3,Germany,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0,True,False,False
4,Germany,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10663,Germany,Audi,A3,2020,16999,Manual,4018,Petrol,145,49.6,1.0,False,True,False
10664,Germany,Audi,A3,2020,16999,Manual,1978,Petrol,150,49.6,1.0,False,True,False
10665,Germany,Audi,A3,2020,17199,Manual,609,Petrol,150,49.6,1.0,False,True,False
10666,Germany,Audi,Q3,2017,19499,Automatic,8646,Petrol,150,47.9,1.4,True,False,False
10667,Germany,Audi,Q3,2016,15999,Manual,11855,Petrol,150,47.9,1.4,False,True,False

In [10]:
print(audi_df_dummies['fuelType'].value_counts())
print(f"\n{audi_df_dummies['transmission'].value_counts()}")
print(f"\n{audi_df_dummies['Automatic'].value_counts()}")

fuelType
Diesel    5577
Petrol    5063
Hybrid      28
Name: count, dtype: int64

transmission
Manual       4369
Semi-Auto    3591
Automatic    2708
Name: count, dtype: int64

Automatic
False    7960
True     2708
Name: count, dtype: int64

In [15]:
audi_df_dummies.drop(columns=['transmission'], inplace=True)
audi_df_dummies

KeyError: "['transmission'] not found in axis"

In [23]:
columns_tocast_asInt = ['Automatic', 'Manual', 'Semi-Auto']
audi_df_dummies[columns_tocast_asInt] = audi_df_dummies[columns_tocast_asInt].astype(int)

audi_df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10668 entries, 0 to 10667
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   country     10668 non-null  object
 1   brand       10668 non-null  object
 2   model       10668 non-null  object
 3   year        10668 non-null  int64
 4   price       10668 non-null  int64
 5   mileage     10668 non-null  int64
 6   fuelType    10668 non-null  object
 7   tax         10668 non-null  int64
 8   mpg         10668 non-null  float64
 9   engineSize  10668 non-null  float64
 10  Automatic   10668 non-null  int64
 11  Manual      10668 non-null  int64
 12  Semi-Auto   10668 non-null  int64
dtypes: float64(2), int64(7), object(4)
memory usage: 1.1+ MB

In [30]:
import numpy as np
import statsmodels.api as sm

# Select relevant predictors
predictors = ['mileage','year','Automatic','Manual', 'Semi-Auto']

# Add the numeric representation of 'transmission' as a predictor


# Add a constant term (intercept) to the predictors
X = sm.add_constant(audi_df_dummies[predictors])

# Dependent variable
y = audi_df_dummies['price']

# Fit the model
model = sm.OLS(y, X).fit()

# Print the summary of the regression
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.465
Model:                            OLS   Adj. R-squared:                  0.465
Method:                 Least Squares   F-statistic:                     3094.
Date:                Wed, 04 Oct 2023   Prob (F-statistic):               0.00
Time:                        09:33:53   Log-Likelihood:            -1.1174e+05
No. Observations:               10668   AIC:                         2.235e+05
Df Residuals:                   10664   BIC:                         2.235e+05
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const      -4.065e+06   6.02e+04    -67.554      0.000   -4.18e+06   -3.95e+06
year        2698.8736     39.776     67.851      0.000    2620.905    2776.843
Automatic  -1.352e+06   2.01e+04    -67.335      0.000   -1.39e+06   -1.31e+06
Manual     -1.361e+06      2e+04    -67.938      0.000    -1.4e+06   -1.32e+06
Semi-Auto  -1.353e+06   2.01e+04    -67.387      0.000   -1.39e+06   -1.31e+06
==============================================================================
Omnibus:                     8710.181   Durbin-Watson:                   1.856
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           362417.818
Skew:                           3.647   Prob(JB):                         0.00
Kurtosis:                      30.607   Cond. No.                     7.48e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 7.77e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.