In [10]:
import pandas as pd
import os

In [11]:
import pandas as pd
import os
df_list = []
dirname = './data_100k_cars'
for dirname, _, filenames in os.walk(dirname):
    for filename in filenames:
        if not (filename.startswith("unclean") or filename==".DS_Store"):
            print(f"Processing: {filename}")
            df_tmp = pd.read_csv(os.path.join(dirname, filename)).drop_duplicates()
            df_tmp['car_model'] = filename.split(".")[0]
            df_list.append(df_tmp)
car_data = pd.concat(df_list, axis=0)
print(car_data.shape)
car_data.sample(15).T


car_data.head()

Processing: toyota.xls
Processing: skoda.xls
Processing: merc.xls
Processing: ford.xls
Processing: Toyota_vehicle_list.csv
Processing: vw.xls
Processing: Audi_vehicle_list.csv
Processing: bmw.xls
Processing: vauxhall.xls
Processing: hyundi.xls
Processing: list_of_models.csv
Processing: audi.xls
(98005, 23)

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,car_model,...,Model.1,Model.2,Current generation,Current generation.1,Current generation.2,Vehicle description,Calendar year introduced,Current model,Current model.1,tax(£)
0,GT86,2016.0,16000.0,Manual,24089.0,Petrol,265.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GT86,2017.0,15995.0,Manual,18615.0,Petrol,145.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GT86,2015.0,13998.0,Manual,27469.0,Petrol,265.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GT86,2017.0,18998.0,Manual,14736.0,Petrol,150.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GT86,2017.0,17498.0,Manual,36284.0,Petrol,145.0,36.2,2.0,toyota,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import sqlite3
conn = sqlite3.connect("car_data.db")

cur = conn.cursor()


car_data.to_sql("car_data_tbl", conn, if_exists="replace")

pd.read_sql_query("select * from car_data_tbl;", conn)

cur.close()
conn.close()

OperationalError: duplicate column name: Model

In [ ]:
import sqlite3
conn = sqlite3.connect("car_data.db")

list_of_models = pd.read_sql_query('Select Distinct model from car_data_tbl', conn)
list_of_models

list_of_models.to_csv('./data_100k_cars/list_of_models.csv')

## Toyota Vehicle List (wikipedia)

In [35]:
## Import and Parse the Tables from Wikipedia with the Toyota information. 

import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_Toyota_vehicles'
Toyota_tables = pd.read_html(url)

# To access the first table:
Toyota_vehicles = Toyota_tables[0]
Toyota_vehicles.to_csv('./data_100k_cars/Toyota_vehicle_list.csv')
Toyota_vehicles.head()
# If you want to access another table, just index into the tables list:
# second_table = tables[1]

  Body style Model                                   Current generation  \
  Body style Image  Name(s) Introduction (cal. year)         Model code
0      Sedan   NaN   Avalon                     1994               XX50
1      Sedan   NaN    Belta         2005 (nameplate)                NaN
2      Sedan   NaN      bZ3                     2022                NaN
3      Sedan   NaN    Camry                     1982               XV70
4      Sedan   NaN  Century                     1967                G60

                                                   \
  Introduction (cal. year)           Main markets
0                     2018                  China
1                     2021                 Africa
2                     2022                  China
3                     2017  Global (except Japan)
4                     2018                  Japan

                                 Vehicle description
                                 Vehicle description
0  Full-size sedan mainly produced and marketed i...
1  Subcompact sedan (B-segment), rebadged Suzuki ...
2  Battery electric compact sedan jointly develop...
3  Mid-size sedan (D-segment) marketed globally. ...
4  Traditional luxury flagship sedan, mainly mark...

## Audi Vehicle List

In [29]:
import pandas as pd

manufacturer = 'Ford'

url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
vehicle_table = pd.read_html(url)

# To access the first table:
vehicles = vehicle_table[0]
vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
vehicles.head()

            Model                 Calendar year introduced   Current model  \
            Model         Model.1 Calendar year introduced    Introduction
0       Hatchback       Hatchback                Hatchback       Hatchback
1             NaN           Focus                     1998            2018
2  Sedan/liftback  Sedan/liftback           Sedan/liftback  Sedan/liftback
3             NaN          Escort                     1968            2015
4             NaN           Focus                     1998            2018

                                   \
  Update/facelift    Main markets
0       Hatchback       Hatchback
1            2021          Europe
2  Sedan/liftback  Sedan/liftback
3            2021           China
4            2021           China

                                 Vehicle description Unnamed: 7_level_0
                                 Vehicle description Unnamed: 7_level_1
0                                          Hatchback                NaN
1  C-segment / small family compact hatchback pre...                NaN
2                                     Sedan/liftback                NaN
3  C-segment/Compact sedan currently marketed in ...                NaN
4  C-segment/Compact sedan currently marketed in ...                NaN

In [36]:
import pandas as pd

manufacturer = 'Volkswagen'

url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
vehicle_table = pd.read_html(url)

# To access the first table:
vehicles = vehicle_table[0]
vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
vehicles.head()

       Model                        Calendar year introduced Current model  \
       Model    Model.1     Model.2 Calendar year introduced  Introduction
0  Hatchback  Hatchback   Hatchback                Hatchback     Hatchback
1        NaN        NaN        Golf                     1974          2019
2        NaN        NaN        ID.3                     2019          2019
3        NaN        NaN        Polo                     1975          2017
4        NaN        NaN  Polo Track                     2023          2023

                                      Main markets  \
  Update (facelift)                   Main markets
0         Hatchback                      Hatchback
1                 —                         Global
2              2023               Europe and China
3              2021  Global (except North America)
4                 —                  Latin-America

                                 Vehicle description
                                 Vehicle description
0                                          Hatchback
1  C-segment hatchback. Traditionally the best-se...
2  Battery electric C-segment hatchback. The firs...
3  B-segment hatchback or supermini. Global produ...
4  B-segment hatchback. Based on Volkswagen Polo,...

## Loop the rest of these Vehicles
* Below works, except that need Proper case in Sqlite. 
* Doing regular, manual repetition of task as will be faster in this scenario

In [27]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("car_data.db")
list_of_manufacturer = pd.read_sql_query('Select Distinct car_model from car_data_tbl', conn)
list_of_manufacturer


# for _, row in list_of_manufacturer.iterrows():
#     manufacturer = row['car_model']
#     url = f'https://en.wikipedia.org/wiki/List_of_{manufacturer}_vehicles'
    
#     try:
#         vehicle_table = pd.read_html(url)
        
#         # To access the first table:
#         vehicles = vehicle_table[0]
#         vehicles.to_csv(f'./data_100k_cars/{manufacturer}_vehicle_list.csv')
        
#         # Confirmation message:
#         print(f"Data for {manufacturer} successfully saved!")
#         print(vehicles.head())  # This will print the top rows of the DataFrame

#     except Exception as e:
#         print(f"Error fetching or saving data for {manufacturer}. Error: {e}")

  car_model
0    toyota
1     skoda
2      merc
3      ford
4        vw
5       bmw
6  vauxhall
7    hyundi
8      audi